@import 'config';
@import 'utilities';

body {
  font-family: 'Poppins', sans-serif;
  background: #f3f6ef;
}

p {
  @extend .font-paragraph;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.bg-light {
  background-color: #ffffff !important;
}

.box {
  max-width: 1000px;
}

/* ---------------------------------------------------
    Navbar Style
----------------------------------------------------- */

.navbar {
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba($primary-color, 0.1);
}

.nav-item img {
  border-radius: 50%;
  border-style: none;
  height: 32px;
  width: 32px;
}
.dropdown-toggle::after {
  content: none !important;
}

nav {
  .icon {
    margin-top: -5px;
    margin-right: 6px;
  }
}

.navbar-brand {
  color: $primary-color !important;
}

.nav-link.active {
  color: $primary-color !important;
}

/* ---------------------------------------------------
    Buttons Style
----------------------------------------------------- */

button {
  border-style: none;
  &:hover {
    background: $primary-color;
  }
  &:focus {
    outline: none;
  }
}

.primary-button {
  color: #fff !important;
  padding: 6px 20px 6px 20px;
  background: $primary-color;
  box-shadow: 0px 5px 15px #dce1ff;
  border-radius: 4px;
  border-style: none;
}
.primary-button[disabled] {
  background: rgba($primary-color, 0.6) !important;
}

/* ---------------------------------------------------
    Spinner Style
----------------------------------------------------- */
