@import 'config';
@import 'utilities';

body {
  font-family: 'Poppins', sans-serif;
  background: $background-primary-color;
}

p {
  @extend .font-paragraph;
  color: #999;
}

a,
a:hover,
a:focus {
  color: $primary-color;
  text-decoration: none;
  transition: all 0.3s;
}

.bg-light {
  background-color: #ffffff !important;
}

.box {
  max-width: 1000px;
}

/* ---------------------------------------------------
    Font Style
----------------------------------------------------- */

.primary-text {
  color: $primary-color;
}

/* ---------------------------------------------------
    Navbar Style
----------------------------------------------------- */

.navbar {
  background-color: #fdfdfd;
  box-shadow: 0 2px 4px 0 rgba($primary-color, 0.1);
}

.nav-item img {
  border-radius: 50%;
  border-style: none;
  height: 32px;
  width: 32px;
}
.dropdown-toggle::after {
  content: none !important;
}

nav {
  .icon {
    margin-top: -5px;
    margin-right: 6px;
  }
}

.navbar-brand {
  color: $primary-color !important;
}

.nav-link.active {
  color: $primary-color !important;
}

.navbar-toggler:hover {
  background-color: $primary-color;
  border: 0;
}

.navbar-toggler:hover > .fas {
  color: white;
}

.navbar-toggler:focus {
  box-shadow: none;
}

/* ---------------------------------------------------
    Main Layout Style
----------------------------------------------------- */

.main-layout {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
  max-width: 1140px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px 4px rgba($primary-color, 0.1);
  border-radius: 40px;
}

/* ---------------------------------------------------
    Buttons Style
----------------------------------------------------- */

button {
  border-style: none;
  &:hover {
    background: $primary-color;
  }
  &:focus {
    outline: none;
  }
}

.primary-button {
  color: #fff !important;
  padding: 6px 20px 6px 20px;
  background: $primary-color;
  box-shadow: 0px 5px 15px #dce1ff;
  border-radius: 4px;
  border-style: none;
}
.primary-button[disabled] {
  background: rgba($primary-color, 0.6) !important;
}

.danger-button {
  color: #fff !important;
  padding: 6px 20px 6px 20px;
  background: $first-accent-color;
  box-shadow: 0px 5px 15px #dce1ff;
  border-radius: 4px;
  border-style: none;
}
.danger-button[disabled] {
  background: rgba($first-accent-color, 0.6) !important;
}

.btn-circle {
  width: 40px;
  height: 40px;
  padding: 6px 0px;
  border-radius: 21px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.btn-lg {
  padding: 0.32rem 1.75rem;
}

/* ---------------------------------------------------
    Spinner Style
----------------------------------------------------- */

/* ---------------------------------------------------
    Modal Style
----------------------------------------------------- */
.modal-content {
  border-radius: 13px;
}

.modal-body {
  padding: 30px 10px;
}

/* ---------------------------------------------------
    Checkbox Style
----------------------------------------------------- */
input[type='checkbox'] {
  margin-right: 8px;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}

.checkbox > input {
  height: 19px;
  width: 19px;
  // -webkit-appearance: none;
  // -moz-appearance: none;
  // -o-appearance: none;
  appearance: initial;
  border: 1px solid #34495e;
  border-radius: 4px;
  outline: none;
  transition-duration: 0.3s;
  color: white;
  cursor: pointer;
  margin-top: 2px;
}

.checkbox > input:checked {
  border: 1px solid #41b883;
  background-color: $primary-color;
}

.checkbox > input:checked + span::before {
  content: '\2713';
  font-weight: 600;
  display: block;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0.15rem;
}

/* ---------------------------------------------------
    Alerts
----------------------------------------------------- */
.alert-success {
  background-color: $primary-color;
  color: #fff;
}
