.jumbotron {
  color: white;
  background-image: url('../assets/images/hero-background.jpg');
  background-color: 'black';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
}

#hero {
  h1 {
    color: black;
    max-width: 600px;
  }
  p {
    max-width: 800px;
  }
}
