.jumbotron {
  color: white;
  background-image: url('../assets//images/hero-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
